extends ./g_layout.jade
block vars
  - var page = 'classexample'


block content
      .container-fluid
        .row.fill
          ol.breadcrumb
              li
                a(href="/admin/dashboard") Tableau de bord
              li
                a(href="/admin/classes") Mes étudiants
              li.active 4ème secondaire
          .col-md-5.col-md-offset-1
            h1.page-header.firstColor Les infos de la classes
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/classexample')
                      img.media-object(src='/images/simplyk-egg.png')
                  div.media-body
                    h4.media-heading 4ème secondaire
                    a.firstColor Classe internationale
                    p.
                    p Nombre d'étudiants : 41
                    p Options : Sciences
          .col-md-4.col-md-offset-1
            h1.page-header 4ème secondaire
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='/images/p1.jpg')
                  div.media-body
                    h4.media-heading Martin Beaudet
                    a.firstColor 14 h effectués
                    p Date de naissance : 02/04/2001
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/studentexample';") Dossier
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='/images/p3.jpg')
                  div.media-body
                    h4.media-heading Anne-Catherine Mathieu
                    a.firstColor 20 h effectués
                    p Date de naissance : 28/06/2001
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/studentexample';") Dossier
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='/images/p2.jpg')
                  div.media-body
                    h4.media-heading Jesus Bernard
                    a.firstColor 3 h effectués
                    p Date de naissance : 14/12/2000
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/studentexample';") Dossier
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='/images/p4.jpg')
                  div.media-body
                    h4.media-heading Gisèle Roy
                    a.firstColor 9 h effectués
                    p Date de naissance : 28/09/2001
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/studentexample';") Dossier
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='/images/p5.jpg')
                  div.media-body
                    h4.media-heading Zlatan Gorgovich
                    a.firstColor 17 h effectués
                    p Date de naissance : 14/04/2000
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/studentexample';") Dossier
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='/images/p6.png')
                  div.media-body
                    h4.media-heading Hugues Mareau
                    a.firstColor 24 h effectués
                    p Date de naissance : 09/04/2001
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/studentexample';") Dossier
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='/images/p7.jpg')
                  div.media-body
                    h4.media-heading Jason Gordon
                    a.firstColor 3 h effectués
                    p Date de naissance : 24/01/2000
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/studentexample';") Dossier
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='/images/p8.png')
                  div.media-body
                    h4.media-heading Thibaut Longchamp
                    a.firstColor 5 h effectués
                    p Date de naissance : 30/11/2001
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/studentexample';") Dossier


block footscript
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // jQuery
  script(src='javascripts/my-jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='javascripts/bootstrap.min.js')
