extends ./g_layout.jade
block vars
  - var page = 'internopps'

block head
  title Mes opportunités de bénévolat - Simplyk
  meta(name='description', content='Gérez vos opportunités de bénévolat interne à l\'école')
block content
      .container-fluid
        .row.fill
          .col-md-6.col-md-offset-3
            h3.text-center Ajouter une opportunité interne !



block footscript
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // jQuery
  script(src='javascripts/my-jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='javascripts/bootstrap.min.js')
