extends ./g_layout.jade
block vars
  - var page = 'internopps'


block content
      .container-fluid
        .row.fill
          ol.breadcrumb
              li
                a(href='/admin/dashboard') Tableau de bord
              li.active Mes opportunités internes
          .col-md-5.col-md-offset-1
            h1.page-header.firstColor Mes opportunités internes
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='images/clouds.jpg')
                  div.media-body
                    h4.media-heading Distribution de prospectus
                    a.firstColor 0/5 bénévoles
                    p 16 juillet
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/feedback';") Détails
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='images/clouds.jpg')
                  div.media-body
                    h4.media-heading Entretien des machines à café
                    a.firstColor 1/1 bénévole
                    p Été
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/feedback';") Détails
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='images/clouds.jpg')
                  div.media-body
                    h4.media-heading Encadrement de l'atelier théatre
                    a.firstColor 0/3 bénévoles
                    p 13 juin
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/feedback';") Détails
            li.list-group-item
                  div.media-left.media-middle
                    a(href='/admin/profile')
                      img.media-object(src='images/clouds.jpg')
                  div.media-body
                    h4.media-heading Accueil au match de soccer
                    a.firstColor 10/25 bénévoles
                    p 24 juin
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button', onclick="location.href='/admin/feedback';") Détails
          .col-md-5.col-md-offset-1
            button.btn.btn-success-outline.pinkow(type='button', onclick="location.href='/admin/internopps';")  Ajouter une opportunité ! 
              i.icon.icon-plus-circle



block footscript
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // jQuery
  script(src='javascripts/my-jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='javascripts/bootstrap.min.js')
