extends g_layout
block head
  title Erreur - Simplyk
  meta(name='description', content='Il y a eu une erreur')
block content
  unless type == 2
    h1.text-center(style='margin-top: 10vh') Oupss ! Il y a eu une petite erreur...
  if type == 2
    h1.text-center(style='margin-top: 10vh')=message
  div.icon-center(style='margin-top: 5vh')
     i.fa.fa-hand-scissors-o.fa-5x
  unless type == 2    
    h2.text-center(style='margin-top: 5vh')=message
    p.text-center(style='margin-top: 10vh') Cette erreur a été enregistrée par notre équipe technique et tout sera fait pour qu'elle ne se reproduise plus. Néanmoins, si jamais tu veux nous la signaler, tu peux nous envoyer un courriel à contact@simplyk.io ou nous parler directement dans le chat sur le site 
      i.fa.fa-smile-o
  if type == 2
    p.text-center(style='margin-top: 10vh') Si tu penses que ceci est une erreur et que tu veux qu'on regarde cette situation plus précisement, tu peux nous envoyer un courriel à contact@simplyk.io ou nous parler directement dans le chat sur le site 
      i.fa.fa-smile-o
  div.text-center(style='margin-top: 5vh')
    a.btn.btn-default(href='/') Continuer
block footscript
  script(type='text/javascript').
    $(document).ready(function(){
      var type = !{JSON.stringify(type)};
      console.log('type : ' + type);
      if (env == 'prod') {
        var event_props = {};
        event_props.type = type;
        amplitude.getInstance().logEvent('g_visit_error', event_props);
      }  
    });