extends g_layout
block head
	title Conditions de service
	meta(name='description', content='Conditions de service et d\'utilisation de la plateforme de bénévolat à Montréal')
block content
	.col-xs-9.col-xs-offset-1
		h1 Simplyk - CONDITIONS DE SERVICE ET UTILISATION
		h3 Dernière mise à jour: 20 Février 2017
		p.

			Simplyk est un service de mise en relation entre des organismes et des individus souhaitant s’engager bénévolement.  En utilisant le site, vous acceptez de respecter et d'être lié par les conditions de service et d’utilisation. Notez que ces conditions sont applicables à votre utilisation du site, peu importe si vous enregistrez un compte en tant que membre Simplyk. Si vous êtes en désaccord avec les conditions d’utilisation, vous devrez malheureusement arrêter d’utiliser le site.<br>

			courriel: francois@simplyk.org
			Simplyk se réserve la possibilité de mettre à jour les conditions d’utilisation. Il est de votre responsabilité de vous tenir au courant des changements dans ces conditions.<br><br>

			<b>COMPTE SIMPLYK BÉNÉVOLE</b> <br>
			1. Vous devez être humain, aucun robot n'est admis<br>

			2. Vous devez proposer une adresse courriel valide<br>

			3. Vous êtes responsable de garder votre mot de passe en sécurité<br>

			4. 4. En utilisant le service vous ne devez pas tenir de propos intolérants, ou contraires à la loi<br>
			
			5. Simplyk vérifie que chaque organisation est une vraie institution en se basant sur le site web de l’organisation. Si ce site web est faux ou mensonger, Simplyk ne pourra pas être tenu responsable. Aussi, en tant que mineur vous devrez toujours prévenir un responsable avant de vous rendre à une activité. <br>
			
			6. Vous utilisez le site de mise en relation à votre seul risque. Simplyk ne sera pas responsable de dommages éventuels causés par la lecture de contenu sur simplyk, par l’activité de bénévolat en soit ou par le trajet pour s’y rendre.<br>
	
			7. Vous ne pouvez pas modifier ou hacker le service<br>

			8. En participant à des opportunités de bénévolat, vous donnez à simplyk l’autorisation de poster des photos de vos activités de bénévolat sur son site et sur les réseaux sociaux. Vous serez toujours avisé quand cela sera le cas, et vous pourrez demander à ce que ce ne soit pas fait.<br><br>

			<b>COMPTE SIMPLYK ORGANISME</b> <br>
			1. Vous devez être humain, aucun robot n’est admis.<br>
			
			2. Vous devez proposer une adresse courriel valide<br>
			
			3. Vous êtes responsable de garder votre mot de passe en sécurité<br>
		
			4. Le contenu que vous postez en tant qu’organisme devient accessible à tout le monde, et vous êtes responsable de ce contenu. Simplyk se réserve le droit de le modifier si Simplyk juge qu’il est intolérant, incompréhensible, ou inadapté<br>
			
			5. Simplyk n’est pas responsable des dommages que pourrait causer un bénévole à l’organisme <br>
			
			6. Vous ne pouvez pas modifier ou hacker le service<br><br>

			<b>QUI PEUT DEMANDER DES BÉNÉVOLES</b> <br>
			Toute organisation et communauté de citoyen pourra demander des bénévoles si Simplyk est capable de s’assurer à travers les informations sur le web ou directement, de l’authenticité de la structure, de la mission, et des bonnes intentions des groupes. Les entreprises privées sont autorisées à rechercher des bénévoles si elles sont capables de prouver que le travail des bénévoles rentre dans les catégories acceptées ci-dessous. Seuls les entreprises sociales (OBNL ou coop) pourront faire appel à des mineurs. <br>
			
			Exemple d’entreprise acceptée : Bon App’, qui a pour mission de réduire le gaspillage alimentaire par un réseau de frigos pour partager fruits et légumes.<br>

			Le travail des bénévoles aura pour but de créer, directement ou indirectement :<br>
			1. Une société plus solidaire et plus responsable écologiquement.<br>
			2. Une société plus aidante envers les personnes démunies. <br>
			3. Une société plus heureuse, avec plus d’activités sportives ou culturelles accessibles à tous.<br>
			Les bénévoles ne doivent pas être demandés pour<br>
			4. Promouvoir des idées politiques<br>
			5. Promouvoir des idées religieuses<br>
			6. Gagner de l’argent<br><br>


			<b>RESPECT DE LA VIE PRIVÉE</b> <br>

			Simplyk s’engage à ne pas divulguer les informations des utilisateurs de manière individuelle et identifiable. Simplyk se réserve cependant le droit d’analyser les données afin de proposer des opportunités de bénévolat personnalisées. Simplyk peut aussi contacter librement chaque personne qui s’inscrit sur le site, jusqu’à ce que la personne demande à ne plus être contactée.<br><br>

			<b>PRIX</b> <br>

			1. Simplyk est et restera toujours gratuit pour les organismes<br>
			2. Simplyk est et restera toujours gratuit pour les bénévoles<br><br>

			<b>PROPRIÉTÉ INTELLECTUELLE</b> <br>
			
			Le design original créé par Simplyk (Images, Html, Css, Javascript) est propriété intellectuelle de Simplyk. Vous n’avez pas le droit d’en copier des parties et d’en réutiliser des parties.<br><br>

			<b>ANNULATION ET FIN D'UTILISATION</b> <br>
			
			1. Vous avez le droit de supprimer votre compte<br>
			2. Pour supprimer votre compte vous devez contacter simplyk pour demander une suppression du compte. Toutes vos informations seront irrémédiablement supprimées.<br>

block footscript
	script.
		$( document ).ready(function(){
			if (env == 'prod') {
				amplitude.getInstance().logEvent('g_visit_legal');
			}
		});