extends ./g_layout.jade
block vars
	- var page = 'login'

block head
	title Se connecter
	meta(name='description', content='Connectez-vous pour devenir bénévole ou trouver des bénévoles')
	style.
		#fb-button {background-color: #3B5998; border-color: #3B5998; color:white}
		#loginform {border-top: 1px solid #ddd; padding-bottom: 15px; border-bottom: 1px solid #eee}
		#social-login__div {padding-top: 15px;}

block share
	#fb-root
	script.
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8&appId=1829081597379617";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		function fb_connect(){
			console.log('#fb-button click');
			FB.login(function(response){
				console.log('FB response : ' + JSON.stringify(response));
				if (response.status == 'connected') {
					console.log('FB connected');
					FB.api('/'+response.authResponse.userID+'?fields=email,id,name,first_name,last_name,age_range,verified', function(response){
						if (response && !response.error){
							console.log(JSON.stringify(response));
							$.post('/login', {'fb': true, 'user': response}, function(datas){
								console.log('datas : ' + JSON.stringify(datas));
								if (datas.redirection) {
									window.location.href = datas.redirection;
								} else {
									window.location.href = '';
								}
							});
						} else {
							//TO WRITE
						}
					});
				}
			}, {scope: 'public_profile, email'});
		}
		window.fbAsyncInit = function() {
			FB.init({
				appId: 1829081597379617,
				xfbml: true,
				version: 'v2.8'
			});
		 }

block content
	#map-section.container-fluid
		.row
			.col-md-6.col-md-offset-3
				.page-header
					h1 Bienvenue
					if error == 1
						p.alert.alert-danger Wrong mail or password
					if error == 2
						p.alert.alert-danger Ton adresse courriel n'est pas encore vérifiée, vérifie-la en cliquant sur le lien dans le mail de confirmation que tu as reçu. Si tu ne l'as pas reçu, regarde dans tes spams, ta boite courriel nous a peut-être mal jugée !
					p.alert.alert-success.hidden#forgotten-success
			.col-md-2.col-md-offset-1
				.page-header
					h4 Ou si vous n'avez pas encore de compte
				button.btn.btn-default.dropdown-toggle(href='/register' data-toggle="dropdown") S'inscrire 
					span.caret
				ul.dropdown-menu#drop-down-but
					li
						a.toggle-but(href='register_organism') Organismes
					li
						a.toggle-but(href='register_volunteer') Bénévoles

		.row
			.col-md-5.col-md-offset-3
				a(data-toggle='modal' data-target='#forgottenModal', style='cursor: pointer;') Mot de passe oublié ?
				form#loginform(action="/login", method="post", role='form').text-center
					.input-group.conn-input
						span#basic-addon1.input-group-addon Adresse courriel
						input#mail.form-control(type='email', placeholder='Ex: contact@simplyk.org', name='email', aria-describedby='basic-addon1', required)
					.input-group.conn-input
						span#basic-addon1.input-group-addon Mot de passe
						input#password.form-control(type='password', placeholder='', name='password', aria-describedby='basic-addon1', required)
					input.text-center.btn.btn-default#login_button(type='submit', form='loginform', value='Connexion par email')
				.modal.fade(tabindex='-1', role='dialog' aria-labelledby="extraModalLabel", id='forgottenModal')
					div.modal-dialog(role='document')
						form(id='forgottenForm', role='form').modal-content
							.modal-header
								button(type='button' class="close" data-dismiss="modal" aria-label="Close")
									span(aria-hidden='true')
									h4.modal-title Mot de passe oublié
							div.modal-body
								p.alert.alert-danger.hidden#forgotten-danger
								label(for='email') Courriel
								input.form-control(type='email', name='email', required)
							div.modal-footer
								input.btn.btn-warning(type='submit', form='forgottenForm', value='Réinitialiser le mot de passe')
								a.btn.btn-default(data-dismiss='modal') Fermer
				p.text-center <b>OU</b>
				.text-center#social-login__div
					.btn.btn-default#fb-button(onclick='return fb_connect();')
						i.fa.fa-facebook
						p.inline <b>Continuer avec Facebook</b>


block footscript
	script(type='text/javascript').
		'use strict';
		$(document).ready(function(){
			if (env == 'prod') {
				amplitude.getInstance().logEvent('g_visit_login');
				$('#loginform').submit(function(){
					amplitude.getInstance().logEvent('g_login');
				});
			}
			$('#forgottenForm').submit(function(event){
				event.preventDefault();
				console.log('Submit form');
				$.post('/forgottenpassword', $('#forgottenForm').serialize())
				.done(function(data){
					console.log('On est dans le callback done !');
					$('#forgottenModal').modal('toggle');
					console.log('JSON.stringify(data) : ' + JSON.stringify(data));
					console.log('Mot de passe réinitialisé !');
					$('#forgotten-success').removeClass('hidden');
					$('#forgotten-success').html('Mot de passe réinitialisé ! Un email d\'instructions t\'a été envoyé :)');
				})
				.fail(function(data){
					console.log('On est dans le callback fail !');
					console.log('Erreur !');
					$('#forgotten-danger').removeClass('hidden');
					console.log(data.error);
					$('#forgotten-danger').html(' ' + data.responseJSON.error);
					console.log('JSON.stringify(data) : ' + JSON.stringify(data));
				});
			});
		});