// navbar
block vars
  - var session
  - var page

nav#nav-me.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/volunteer/map')
        if group == 'volunteer'
          a.navbar-brand(href='/volunteer/map')
            img(alt='Brand', src='/images/simplyk-text-egg-hor.png')
        else if group == 'organism'
          a.navbar-brand(href='/organism/dashboard')
            img(alt='Brand', src='/images/simplyk-text-egg-hor.png')
        else if group == 'admin'
          a.navbar-brand(href='/admin/classes')
            img(alt='Brand', src='/images/simplyk-text-egg-hor.png')
        else
          a.navbar-brand(href='/')
            img(alt='Brand', src='/images/simplyk-text-egg-hor.png', style= 'color: #F5F5F5')
    #myNavbar.collapse.navbar-collapse
      .navbar-header
      ul.nav.navbar-nav.navbar-right
        if group == 'volunteer'
          li(role='presentation')
            form.navbar-form
              li.dropdown
                div.btn.btn-default.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Explore 
                  span.caret
                ul.dropdown-menu#drop-down-bu
                  li
                    a.toggle-but(href='/listorganisms') Liste des organismes
                  li
                    a.toggle-but(href='/contact') Contactez-nous
                  li
                    a.toggle-but(href='/us') À propos
          unless page=='profile'
            li.navbar-link(role='presentation')
              a(href='/volunteer/profile') Mon tableau de bord
          unless page=='map'
            li.navbar-link(role='presentation')
              a(href='/volunteer/map') Carte
          li(role='presentation')
            form.navbar-form( method='post', action='./logout')
              button.btn.btn-default.logout_nav_btn(type='submit') Déconnexion
        else if group == 'organism'
          li(role='presentation')
            form.navbar-form
              li.dropdown
                div.btn.btn-default.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Explore 
                  span.caret
                ul.dropdown-menu#drop-down-bu
                  li
                    a.toggle-but(href='/listorganisms') Liste des organismes
                  li
                    a.toggle-but(href='/contact') Contactez-nous
                  li
                    a.toggle-but(href='/organism/profile') Mon profil
                  li
                    a.toggle-but(href='/us') À propos
          unless page == 'dashboard'
            li.navbar-link(role='presentation')
              a(href='/organism/dashboard') Tableau de bord
          unless page=='map'
            li.navbar-link(role='presentation')
              a(href='/organism/map') Carte
          li(role='presentation')
            form.navbar-form( method='post', action='./logout')
              div.btn.btn-default.logout_nav_btn(type='submit') Déconnexion
        else if group == 'admin'
          unless page == 'students'
            li.navbar-link(role='presentation')
              a(href='/admin/classes') Mes élèves
          if session.organism
            li.navbar-link(role='presentation')
              a(href='/organism/dashboard') Mon bénévolat interne 
                if (todos && (todos.length > 0))
                  p.badge(style='background-color: #E33831; padding: 0px 4px')= todos.length
          li(role='presentation')
            form.navbar-form
              li.dropdown
                div.btn.btn-default.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Explore 
                  span.caret
                ul.dropdown-menu#drop-down-bu
                  li
                    a.toggle-but(href='/listorganisms') Liste des organismes
                  li
                    a.toggle-but(href='/admin/profile') Mon profil
                  li
                    a.toggle-but(href='/organism/map') Carte
                  li
                    a.toggle-but(href='/contact') Contactez-nous
                  li
                    a.toggle-but(href='/us') À propos
          li(role='presentation')
            form.navbar-form( method='post', action='/logout')
              div.btn.btn-default.logout_nav_btn(type='submit') Déconnexion
        else
          li.navbar-link(role='presentation')
            a(href='/register_organism') Je cherche des bénévoles !
          li(role='presentation')
            form.navbar-form
              li.dropdown
                div.btn.btn-default.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Explore 
                  span.caret
                ul.dropdown-menu#drop-down-bu
                  li
                    a.toggle-but(href='/listorganisms') Liste des organismes
                  li
                    a.toggle-but(href='/contact') Contactez-nous
                  li
                    a.toggle-but(href='/us') À propos
          li(role='presentation')
            form.navbar-form
              li.dropdown
                div.btn.btn-default.dropdown-toggle(data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Inscris-toi ! 
                  span.caret
                ul.dropdown-menu#drop-down-but
                  li
                    a.toggle-but#org_register_btn(href='/register_organism') Organismes
                  li
                    a.toggle-but#vol_register_btn(href='/register_volunteer') Bénévoles
          unless page == 'accueil'
            li.navbar-link(role='presentation')
              a(href='/') Accueil
          unless page=='login'
            li(role='presentation')
              form.navbar-form(method='get', action='/login')
                input.btn.btn-default#login_visit_btn(type='submit', value='Connexion')
