
//meta pour twitter et l'open graphe
unless ((page=='activity') || (page=='longterm'))
	meta(property='og:url', content='https://www.simplyk.io/')
	meta(property='og:type', content='website')
	meta(property='og:title', content='Des opportunités de bénévolat à portée de main au Québec')
	meta(property='og:description', content='Simplyk est la plateforme de bénévolat de référence au Québec. Des opportunités de bénévolat pour tous les goûts y sont visibles !')
	meta(property='og:image', content='https://www.simplyk.io/images/carte.png')

	//meta pour twitter et l'open graphe
	meta(property='twitter:card', content='content=app')
	meta(property='twitter:title', content='Des opportunités de bénévolat à portée de main au Québec')
	meta(property='twitter:description', content='Simplyk est la plateforme de bénévolat de référence au Québec. Des opportunités de bénévolat pour tous les goûts y sont visibles !')
	meta(property='twitter:url', content='content="https://www.simplyk.io/')
	meta(property='twitter:image', content='https://www.simplyk.io/images/carte.png')
