extends ./g_layout.jade
block vars
  - var page = 'register'
block head
  title S'inscrire'
  meta(name='content', content='Inscrivez-vous pour trouver du bénévolat, ou recruter des bénévoles')
block content
      #map-section.container-fluid
        .row
          .col-md-6.col-md-offset-3
            .page-header
              h1 Inscription
              .alert.alert-danger.hidden#email-exists
                | The email address you entered is already in use
              if error
                p.alert.alert-danger #{error}
                  .input-group.conn-input
                label.control-label Adresse courriel
                input#mail.form-control(type='email', placeholder='Ex: contact@simplyk.org', name='email', aria-describedby='basic-addon1', required)
          .col-md-2.col-md-offset-1
            .page-header
              h4 Ou si vous avez déjà un compte
            a.btn.btn-default(href='/login') Se connecter
        .row
          .col-md-6.col-md-offset-3
            form#registerform(action="/register_#{type}", method="post", role='form')
              if type == 'volunteer'
                .col-md-6
                  .form-group.conn-input
                    label.control-label Adresse courriel
                    input#mail.form-control(type='email', placeholder='Ex: contact@simplyk.org', name='email', aria-describedby='basic-addon1', required)
                  .form-group.conn-input
                    label.control-label Nom
                    input#lastname.form-control(type='text', name='lastname', aria-describedby='basic-addon1', required)
                .col-md-6
                  .form-group.conn-input
                    label.control-label Prénom
                    input#firstname.form-control(type='text', placeholder='', name='firstname', aria-describedby='basic-addon1', required)
                  .form-group.conn-input
                    label.control-label Date de naissance
                    input#birthdate.form-control(type='date', placeholder='', name='birthdate', aria-describedby='basic-addon1')
              if type == 'organism'
                .form-group.conn-input
                  label.control-label Nom de l'organisme
                  input#mail.form-control(type='text', placeholder='Ex: Simplyk', name='name', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Mission de l'organisme
                  input.form-control(type='text', name='description', aria-describedby='basic-addon1',rows="3",maxlength="300",required) 
                .form-group.conn-input
                  label.control-label Numéro de téléphone
                  input#mail.form-control(type='text', placeholder='Ex: 514 314 1592', name='phone', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Site web
                  input#mail.form-control(type='text', placeholder='Ex: www.simplyk.org', name='website', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Cause
                  select#cause.form-control(placeholder='', name='cause', aria-describedby='basic-addon1')
                    option Environnement
                    option Solidarité
                    option Sport et culture
                h2 Informations du responsable des bénévoles
                .col-md-6
                  .form-group.conn-input
                    label.control-label Nom
                    input#lastname.form-control(type='text', name='lastname', aria-describedby='basic-addon1', required)
                .col-md-6
                  .form-group.conn-input
                    label.control-label Prénom
                    input#firstname.form-control(type='text', placeholder='', name='firstname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                    label.control-label Adresse courriel
                    input#mail.form-control(type='email', placeholder='Ex: contact@simplyk.org', name='email', aria-describedby='basic-addon1', required)
              if type == 'admin'
                .form-group.conn-input
                  label.control-label Nom de l'organisation
                  input#name.form-control(type='text', name='name', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Nom
                  input#lastname.form-control(type='text', name='lastname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Prénom
                  input#firstname.form-control(type='text', placeholder='', name='firstname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Type d'organisation
                  select#type.form-control(placeholder='', name='type', aria-describedby='basic-addon1')
                    option Entreprise
                    option École
              .col-md-6
                .form-group.conn-input
                  label.control-label Mot de passe
                  input#password.form-control(type='password', placeholder='', name='password', aria-describedby='basic-addon1', required)
              .col-md-6
                .form-group.conn-input
                  label.control-label Confirmation de mot de passe
                  input#confirmPassword.form-control(type='password', placeholder='', name='password_confirm', aria-describedby='basic-addon1', required)
              .row
                p.
                  En cliquant sur le bouton "s'inscrire", j'accepte les <a href="\legal">conditions générales d'utilisation </a>. Si je suis mineur je dois prévenir un responsable avant de me rendre à une activité.
              .row
                input.btn.btn-default#submit-button(type='submit', form='registerform', value='S \'inscrire')
block footscript
  script(src="/bower_components/jquery-ui/ui/widgets/datepicker.js")
  script.
    $(document).ready(function(){
      if ( $('#birthdate').prop('type') != 'date' ) {
        $('#birthdate').datepicker();
      }
    })
    var password = document.getElementById('password'),
    confirm_password = document.getElementById('confirmPassword');
    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Les mots de passe sont différents");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
  script.
    $('form#registerform').submit(function(e) {
        e.preventDefault(); // Prevent default post
        var form = $(this);

        function onSuccess(response) {
            if(response.exists) {
                console.log('Email already exists'); 
                $('#email-exists').removeClass('hidden');
                window.scrollTo(0,0);
            }
            else{
                //Remove the current event handler and submit
                $('form#registerform').unbind('submit'); 
                $('form#registerform').submit();
            }
        }

        $.ajax({
            type: 'POST',
            url: 'register_check', 
            data: form.serialize(),
            success: onSuccess
        });
    });