extends ./g_layout.jade
block vars
  - var page = 'verify'
block head
  title Vérification d'email - Simplyk
  meta(name='description', content='Ton adresse courriel a été vérifiée')
block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .page-header.jumbotron
          h1.text-center Félicitations !
          div.icon-center
            i.fa.fa-key.fa-5x
          if post_extra
            h2.text-center <b>Ton retour a bien été pris en compte et ...</b>
          h2.text-center Ton adresse courriel a été vérifié !
          if post_extra
            h4.text-center Tu peux maintenant poster des offres de bénévolat sur la plateforme GRATUITEMENT avec les identifiants de connexion se trouvant dans le courriel que tu as reçu !
          p.text-center= email
          a.btn.btn-default.icon-center(href='/login') C'est parti !

block footscript
  script(type='text/javascript').
    'use strict';
    let event_props = {};
    if (window.location.pathname.substring(0,8) == '/verifyO'){
      event_props.type = 'org';
    } else if (window.location.pathname.substring(0,8) == '/verifyV') {
      event_props.type = 'vol';
    } else {
      event_props.type = 'prob';
    }
    if (env == 'prod') {
      amplitude.getInstance().logEvent('g_visit_verify', event_props);
    }