extends ./layout.jade
block vars

block content
    if error == 1
      p Wrong username or password
    form(action="/login", method="post") 
        p Username
        input(type="text", name="username")
        p password
        input(type="text", name="password")
        input(type="submit", value="Log in")
