extends ./g_layout.jade
block vars
	- var page = 'addevent'

block head
	title Trouver des bénévoles
	meta(name='description', content='Ajoute une opportunité de bénévolat à court terme')
block content
	.container-fluid(ng-app='form')
		.row
			.col-md-6.col-md-offset-3
				.page-header
					h1 Ajoute un évènement
					if error
						p.alert.alert-danger #{error}
		.row
			.col-md-6.col-md-offset-3#form-container

block footscript
	script(src='/javascripts/bundle.js')