extends ./g_layout.jade
block vars
  - var page = 'o_share_opp'

block head
  title Partager l'opportunité de bénévolat - Simplyk
  meta(name='description', content="Partage l'opportunité de bénévolat")
  style.
    h1 {
      margin-top: 15vh;
    }
    .mt {
      margin-top: 5vh;
    }
    .mb {
      margin-bottom: 5vh;
    }
  script.
    'use strict';
    const bitly_token = '074139d6c2b2511f886ae9e554856c4ecf3ca141';
    window.fbAsyncInit = function() {
      FB.init({
        appId      : 1829081597379617,
        xfbml      : true,
        version    : 'v2.8'
      });
      FB.AppEvents.logPageView();
      let link_field = $('#propose');
      const activity_id = $('#datas').attr('opp_id');
      const type = $('#datas').attr('type');
      const url = window.location.origin + '/all/' + type +'/' + activity_id;
      console.log('url : ' + url);
      const bitly_address = 'https://api-ssl.bitly.com/v3/shorten?access_token='+bitly_token+'&longURL='+url;
      console.log('bitly_address : ' + bitly_address);
      $.get(bitly_address, function(datas){
        console.info('bitly : ' + JSON.stringify(datas));
        if(datas.status_code < 400){
          link_field.val(datas.data.url);
          console.info('We are in the status_code OK !');
        } else {
          link_field.val(url);
          console.info('We are in the status_code not OK !');
        }
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        h1.text-center #{__("reach_more")}
          div.icon-center.mt
            img(src='/images/porte_voix_solo.svg')
        h4.text-center.mt #{__("reach_more_subtitle")}
        input.form-control.text-center.mt.mb#propose(type='text')
        .text-center
          a.btn.btn-default.mt(href='/organism/dashboard')= __('next')
    p.hidden#datas(type=type, opp_id=opp_id)