extends ./g_layout.jade
block vars
    - function createHoursArray(){var result_array = new Array(); for(var i = 0.5; i < 60; i=i+0.5){result_array.push(i)}; return result_array;}

block head
    script(src='/bower_components/pickadate/lib/picker.js', type='text/javascript')
    script(src='/bower_components/pickadate/lib/picker.date.js', type='text/javascript')
    script(src='/bower_components/pickadate/lib/picker.time.js', type='text/javascript')
    script(src='/bower_components/pickadate/lib/legacy.js', type='text/javascript')
    link(href='/bower_components/pickadate/lib/themes/classic.css', rel='stylesheet')
    link(href='/bower_components/pickadate/lib/themes/classic.date.css', rel='stylesheet')
    link(href='/bower_components/pickadate/lib/themes/classic.time.css', rel='stylesheet')
    title Ajoute des heures de bénévolat extra-Simplyk - Simplyk
    meta(name='description', content='Ajoute des heures de bénévolat extra-Simplyk ')
block content
    .container-fluid
        .row
            .col-md-6.col-md-offset-3
                .page-header
                    h1.text-center Ajoute des heures extra-Simplyk
                    if error
                        p.alert.alert-danger #{error}
                    p#validation
                    p.alert.alert-warning Les heures ajoutées ici devront être validées par l'organisme concerné, ainsi que par la personne responsable du bénévolat de ton école. Écris bien la bonne adresse courriel, sinon ce ne sera pas validé !
        .row
            .col-md-6.col-md-offset-3
                form(id='addextrahours', name='addextrahours', action='addextrahours', method='post', onsubmit='return validateForm()')
                    .form-group.conn-input
                        label(for='org_name') Nom de l'organisme
                        input.form-control(id='org_name', type='text', placeholder='Ex: Équiterre', name='org_name', required)
                    .form-group.conn-input
                        label(for='org_email') Courriel de l'organisme <br> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <small>Vérifie bien l'adresse courriel, sinon l'organisme ne pourra pas valider tes heures</small>
                        input.form-control(id='org_email', name='org_email', type='email' required)
                    .form-group.conn-input
                        label(for='org_phone') Téléphone de l'organisme
                        input.form-control(id='org_phone', name='org_phone', type='text' required)
                    .form-group.conn-input
                        label(for='intitule') Titre de l'activité
                        input.form-control(id='intitule', name='intitule', type='text' required)
                    .form-group.conn-input
                        label(for='description') Description de l'activité
                        textarea.form-control(id='description', name='description', rows="6" required)
                    .row
                        .col-md-6
                            .form-group.conn-input
                                label(for='activity_date') Date de l'activité
                                input.form-control.datepicker(id='activity_date', type='text', name='activity_date' required)
                        .col-md-6
                            .form-group.conn-input
                                label(for='hours_pending') Nombres d'heures réalisées
                                select.form-control(id='hours_pending' name='hours_pending' required)
                                    each val, ind in createHoursArray()
                                        option(value=val)=(val%1==0?val+'h':(val-0.5)+'h30')
                    .form-group.conn-input
                        label(for='firstname') Prénom du responsable
                        input.form-control(id='firstname', name='firstname' type='text' required)
                    .form-group.conn-input
                        label(for='lastname') Nom du responsable
                        input.form-control(id='lastname', name='lastname' type='text' required)
                    h3 Questions sur l'activité
                    each question, q_i in student_questions
                        .form-group.conn-input
                            label(for='answer'+q_i) !{question.replace(/\n/g, '<br/>')}
                            textarea.form-control(id='answer'+q_i, name='answer'+q_i, rows="6" required)
                    .row
                        input.btn.btn-default.form-control(type='button', value='Submit', style="margin-bottom: 100px;", onclick="validateForm()")


    .modal#warningModal(role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true')&times;
                .modal-body
                    //img.center-block(src='http://i.giphy.com/Y5wlazC8lSVuU.gif', style='height: 100px;')
                    h3
                    .alert
                        i.fa.fa-info-circle
                        p.inline <b>Cette fonctionnalité est destinée à ajouter des heures à ton profil pour le bénévolat pour lequel tu ne t'ai PAS inscrit par la plateforme Simplyk ! </br></br> Si tu t'es inscrit par Simplyk, ajoute des heures sur l'activité de bénévolat directement sur ton profil :)</b>


block footscript
    script(type='text/javascript').
        //Validate email
        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        };

        function validateForm() {
            var email = document.forms["addextrahours"]["org_email"].value;
            var hours = document.forms["addextrahours"]["hours_pending"].value;
            //Verify email
            if (validateEmail(email)){
                //Verify hours_pending
                if ((hours < 0.5) || (hours > 100)) {
                    $('#validation').text('Les heures de participation doivent se situer entre 0.5 et 100').addClass('alert').addClass('alert-danger');
                    $('html, body').animate({
                        scrollTop: $(".page-header").offset().top
                    }, 300);
                } else {
                    $.post('not_volunteer_check', {'email': email}, function(response){
                        console.log('repsonse : ' + JSON.stringify(response));
                        if(response.exists) {
                            console.log('In response exists');
                            $('#validation').text('L\'adresse courriel entrée correspond au compte d\'un bénévole, elle ne peut donc pas être utilisée pour valider des heures en tant qu\'organisme').addClass('alert').addClass('alert-danger');
                            $('html, body').animate({
                                scrollTop: $(".page-header").offset().top
                            }, 300);
                            console.log('In response exists');
                        } else {
                            console.log('In response !exists, return true');
                            document.forms["addextrahours"].submit();
                        }
                    })
                }
            } else {
                $('#validation').text('Le champ de courriel doit contenir un email valide').addClass('alert').addClass('alert-danger');
                $('html, body').animate({
                    scrollTop: $(".page-header").offset().top
                }, 300);
            }
        };

    script(type='text/javascript').
        $(document).ready(function(){
            if (env == 'prod') {
                amplitude.getInstance().logEvent('v_visit_addextra');
                $('#addextrahours').submit(function(){
                    amplitude.getInstance().logEvent('v_add_extra');
                });
            };
            
            $('#warningModal').modal('show');
            var input = $('.datepicker');
            input.pickadate({
                firstDay: 1,
                formatSubmit: 'yyyy-mm-dd',
                max: new Date()
            });

            $('#addextrahours').on('keyup keypress', function(e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) { 
                    e.preventDefault();
                    return false;
                }
            });
        });