html {
	height: 100vh;
}

body{
	font-family: 'Open Sans', 'Slabo 27px', serif, georgia, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100vh;
	min-height: 100vh;
	padding-top: 50px;
}

.fill{
	height: 100%;
	min-height: 100%;
}


.fill-parent{
	height: inherit;
}

/*icon fontawesome*/
.fa {
	margin-left:5px;
    margin-right:5px;
}

.page{
	padding-right: 0px;
	padding-left: 0px;
	width: 100vw;
}

.inline{
	display: inline;
}
#nav-me{
    background-color: #5BCF8F;
	opacity: 100%;
	margin-bottom: 0px;
}

#refbar{
	background-color: #5BCF8F;
	color: #F5F5F5;
}

#nav-me a{
	color: #F5F5F5;
}


.dropdown-menu{
	background-color: #5BCF8F;
	color: #F5F5F5;
}

#toggle-but:hover{
	background-color: #8BE78F;
	color: #F5F5F5;
}

.navbar-brand img{
	width: auto;
	height: 100%;
}

.img-profile {
	width: auto;
	height: 100px;
	max-height: 50px;
}

#map{
	height: 85vh;
}

/*icones de fontwesome*/
#leaf {
    color: #5BCF8F
}

#cult {
    color: #FFD117
}

#soli {
    color: #0099ff
}

#map-section{
	height: 90%;
}

#legend {
        background: #FFF;
        padding: 10px;
        margin: 5px;
        font-size: 12px;
        font-family: Arial, sans-serif;
}

#offers-list{
	height: 85vh;
}

.conn-input{
	padding-top: 15px;
	padding-bottom: 15px;
}

.list-group-item{
	border-right: 0px;
	border-left: 0px;
}

.no-side-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.little-img {
	height: 35px;
	width: 35px;
}

.tp-15{
	padding-top: 15px;
	padding-bottom: 15px;
}

.mbot{
	margin-bottom: 35px;
}

.btn a{
	text-decoration: none;
	color: white;
}

.btn:hover a{
	text-decoration: none;
	color: black;
}

#link-btn-ref{
	color: #F5F5F5;
}

#link-btn-ref:hover{
	color: #5BCF8F;

}

.btn-landing{
	border-radius: 0px;
}


.firstColor{
	color:#25A191;
}

.secondColor{
	color:#E8E52C;
}

.thirdColor{
	color:#FF1CB5;
}

.list-opportunity li:hover{
    background-color: #8BE78F;
}

.starring{
	background-color: #8BE78F;
}

.my-modal-body {
	color: white;
	background-color: #5BCF8F;
}

.pinkow {
	background-color: #FF1CB5;
	color: #F5F5F5;
}

.pinkow:hover{
	background-color: #8BE78F;
	color: #FF1CB5;
}

.btn-default{
    background-color: #5BCF8F;
	border-color:#5BCF8F;
	color: #F5F5F5;
}

.btn-landing{
    background-color: #5BCF8F;
	border-color:#5BCF8F;
	color: #F5F5F5;
}

.btn-landing-2{
    background-color: #8BE78F;
	border-color:#5BCF8F;
	color: #F5F5F5;
}


.label-danger {
	color: #FF1CB5;
    background-color: #F5F5F5;
}

.label-beta{
	color: #F5F5F5;
    background-color: #8BE78F;
    padding-right: 0px;
	padding-left: 0px;
}

#logo_entrance{
	max-width: 70vw;
	max-height: 40vh;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#first_section_entrance{
	height: 500px;
	background-image: url('/images/congruent_pentagon.png');
}

.background-stars {
	background-image: url('../images/starsbig.jpg');
	background-size: cover;
	color: white;
	font-weight: lighter;
	border: solid 5px #E8E52C;
}

.favorite {
	color: #FF1CB5;
}

.white {
	color: #FF83CC;
}

.scrollable {
	overflow-y: scroll;
}

.footer {
	padding-top: 40px;
	height: 140px;
	background-color: black;
}

.footer a{
	margin-left: 15px;
	margin-right: 15px;
}

.icon-center {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.cursor {
	cursor: pointer;
}