html {
	height: 100vh;
}

body{
	font-family: 'Open Sans', 'Slabo 27px', serif, georgia, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100vh;
	min-height: 100vh;
	padding-top: 50px;
}

.fill{
	height: 100%;
	min-height: 100%;
}

.bigtext{
	width: 100%;
	height: 200px;
}


.fill-parent{
	height: inherit;
}

/*icon fontawesome*/
.fa {
	margin-left:5px;
    margin-right:5px;
}

.page{
	padding-right: 0px;
	padding-left: 0px;
	width: 100vw;
}

.inline{
	display: inline;
}

#nav-me{
    background-color: #5BCF8F;
	opacity: 100%;
	margin-bottom: 0px;
}

#refbar{
	background-color: #5BCF8F;
	color: #F5F5F5;
}

#nav-me a{
	color: #F5F5F5;
}
/*
#nav-me > .open > a{
	background-color: #25A191;
	color: #25A191;
}*/

.dropdown-menu{
	background-color: #5BCF8F;
	color: #F5F5F5;
}

.toggle-but:hover{
	background-color: #8BE78F !important;
	color: #F5F5F5;
}

.navbar-brand img{
	width: auto;
	height: 100%;
}

.img-profile {
	width: auto;
	height: 100px;
	max-height: 50px;
}

.activity__background {
    background-color: #eee;
    min-height: 75vh;
}

.background__color {
    background-color: #eee;
}

.activity__header {
    background-color: white;
    min-height: 25vh;
    border-bottom: 1.5px solid #ddd;
}

.activity__unit--no-padding {
    margin: 40px 0 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #aaa;
}

.activity__unit {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 40px;
    box-shadow: 1px 1px 1px #aaa;
}

#map{
	height: calc(100vh - 50px);
}

#map-left{
	height: calc(100vh - 50px);
}

.text-shadowed {
	text-shadow: 1px 1px #999;
}

.text-bordered {
	border: 5px solid black;
	padding: 5px;
}

/*icones de fontwesome*/
.leaf {
    color: #5BCF8F
}

.cult {
    color: #FFD117
}

.soli {
    color: #0099ff
}

.child {
    color: #FF4F3C
}

#map-section{
	height: 90%;
}

#legend {
    background: #FFF;
    padding: 10px;
    margin: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
}

#offers-list{
	height: calc(100% - 131px);
}

#offers-list-logged{
	height: calc(100% - 71px);
}


.conn-input{
	padding-top: 15px;
	padding-bottom: 15px;
}

.list-group-item{
	border-right: 0px;
	border-left: 0px;
}

.no-side-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.little-img {
	height: 35px;
	width: 35px;
}

.tp-15{
	padding-top: 15px;
	padding-bottom: 15px;
}

.mbot{
	margin-bottom: 35px;
}

.btn{
	border-radius: 0;
}

.btn a{
	text-decoration: none;
	color: white;
}

.btn:hover a{
	text-decoration: none;
	color: black;
}

#link-btn-ref{
	color: #F5F5F5;
}

#link-btn-ref:hover{
	color: #5BCF8F;

}

#first_section{
	background-color: #4EBDC7;
	border-bottom: 1px solid #bbb;
}

.logo{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	margin-left: -40px;
}

#landscape {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-width: 90%;
	max-height: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.landing-section {
	height: calc(100vh - 50px);
	border-bottom: 1px solid #bbb;
}

.fullscreen-section {
	min-height: calc(100vh - 50px);
	border-bottom: 1px solid #bbb;
}

.fullscreen-section--1 {
	min-height: calc(100vh - 50px);
	border-bottom: 1px solid #bbb;
	background-color: #eee;
}

.fullscreen-section--2 {
	min-height: calc(100vh - 50px);
	border-bottom: 1px solid #ccc;
	background-color: white;
}

.not-fullscreen-section--1 {
	min-height: calc(70vh - 50px);
	border-bottom: 1px solid #bbb;
	background-color: #eee;
}

#nav-us>li>a {
	color: #777
}

#nav-us>li>a:hover {
	color: #333;
	background-color: #fff;
}

#nav-us>li.active>a {
	background-color: #eee;
	color: #333
}

.subtitle {
	margin-bottom: 20px;
	font-weight: lighter;
}

.section-div{
	height: 100%;
}

#type-section{
	background-color: #5BCF8F;
}

#age-section{
	background-color: #FF4F3C;
}

#mission-section{
	background-color: #4EBDC7;
}

#values-section{
	background-color: #FF4F3C;
}

#team-section{
	background-color: #5BCF8F;
}

#partners-section{
	background-color: #F1F5FF;
}

.text {
	color: black;
	letter-spacing: 0.05em;
}

.section__title h1{
	color: black;
	font-weight: 300;
	letter-spacing: 10px;
	font-size: 7vh;
}

.section__sentence{
	color: white;
	margin-left: -40px;
}

.section__sentence h1{
	font-size: 4.5vw;
	font-weight: 300;
	letter-spacing: 10px;
}

.section__sentence h4{
	font-weight: 300;
	letter-spacing: 3px;
	margin-top: 0px;
	margin-bottom: 40px;
}

.section__sentence--grouped{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.landing-buttons{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}


.landing-buttons__item--grouped {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.landing-buttons__item {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	font-weight: 300;
}

.landing-buttons__item:hover{
	background-color: #FFC518;
	color: white;
	border: 2px solid #EEA90B;
}

#offers_list li.panel{
	margin-bottom: 0px;
}
.btn-landing{
	border-radius: 0px;
}

#more{
	background-color: #FFC518;
	margin-left: 70px;
	border-color: #FFC518;
	color: black;
}

#more:hover{
	background-color: #FFA510;
	border-color: #FFC518;
}

#filter_div {
	margin-top: 13px;
	margin-bottom: 13px;
}

.btn-filter {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	font-weight: 700;
}

.btn-filter-lts{
	border: 1px solid #43A2AB;
	background-color: #43A2AB;
}

.btn-filter-acts{
	border: 1px solid #5BCF8F;
	background-color: #5BCF8F;
}

.btn-filter-age{
	border: 1px solid #FFC518;
	background-color: #FFC518;
}

.btn-filter:hover {
	color: black;
}

.btn-filter-lts:hover{
	background-color: #eee;
	font-weight: 700;
}

.btn-filter-acts:hover{
	background-color: #eee;
	font-weight: 700;
}

.btn-filter-age:hover{
	background-color: #eee;
	font-weight: 700;
}

.btn-filter.i {
	padding-left: 0px;
}

.panel-profile .panel-heading{
	height: 150px;
	background-size: cover;
}

.panel-profile .panel-body{
	height: 100px;
	background-size: cover;
}

.img-portrait{
	border-radius: 100%;
	border: 3px solid white;
	margin-top: -70px;
	height: 100px;
	width: auto;
}

.firstColor{
	color:#25A191;
}

.secondColor{
	color:#E8E52C;
}

.thirdColor{
	color:#FF1CB5;
}

.list-group-item:hover{
    background-color: #8BE78F;
}

.list-longterm-item:hover{
    background-color: #359B9C;
}

.list-extra-item:hover{
    background-color: #E56252;
}

.starring{
	background-color: #8BE78F;
}

.my-modal-body {
	color: white;
	background-color: #5BCF8F;
}

.pinkow {
	background-color: #FF1CB5;
	color: #F5F5F5;
}

.pinkow:hover{
	background-color: #8BE78F;
	color: #FF1CB5;
}

.btn-default{
    background-color: #5BCF8F;
	border-color:#5BCF8F;
	color: #F5F5F5;
}

.longterm{
    background-color: #359B9C;
	border-color:#359B9C;
	color: #F5F5F5;
}

.extra{
    background-color: #E56252;
	border-color:#E56252;
	color: #F5F5F5;
}

.btn-landing{
    background-color: #5BCF8F;
	border-color:#5BCF8F;
	color: #F5F5F5;
}

.btn-landing-2{
    background-color: #8BE78F;
	border-color:#5BCF8F;
	color: #F5F5F5;
}


.label-beta{
	color: #F5F5F5;
    background-color: #8BE78F;
    padding-right: 0px;
	padding-left: 0px;
}

.background-stars {
	background-image: url('../images/starsbig.jpg');
	background-size: cover;
	color: white;
	font-weight: lighter;
	border: solid 5px #FF01D0;
}

.favorite {
	color: #FF1CB5;
}

.white {
	color: #5BCF8F;
}

.scrollable {
	overflow-y: scroll;
}

.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: BLACK;
}

.footer a{
	margin-left: 15px;
	margin-right: 15px;
}

.icon-center {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.cursor {
	cursor: pointer;
}


textarea {
	width: 100%;
}

#social {
	color: #5BCF8F
}

.navbar-collapse.in {
  overflow-y: visible;
}